<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoyotrip"
    android:versionCode="1"
    android:versionName="1.0" >



        <!--project_name:yoyotrip-1005-->
        <!-- 存取 internet -->
        <uses-permission android:name="android.permission.INTERNET"/>
        <!-- GCM requires a Google account. -->
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
        <!-- Keeps the processor from sleeping when a message is received. -->
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
        <!-- App receives GCM messages. -->
        <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        <permission android:name="com.example.yoyo_trip.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
        <!-- 使用GCM -->
        <uses-permission android:name="com.example.yoyo_trip.permission.C2D_MESSAGE"/>
        <!--照相機存取-->
        <uses-permission android:name="android.permission.CAMERA"/>
        <!-- 手機震動 -->
        <uses-permission android:name="android.permission.VIBRATE"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
        <uses-feature    android:glEsVersion="0x00020000"  android:required="true" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


        <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <activity
                android:name=".MainActivity"
                android:label="@string/app_name" >

            </activity>

            <activity
                android:name=".FirstUsedActivity"
                android:label="@string/title_activity_first_used" >

            </activity>
            <activity
                android:name=".Login1Activity"
                android:label="@string/title_activity_login1" >
            </activity>
            <activity
                android:name=".Login2Activity"
                android:label="@string/title_activity_login2" >
            </activity>
            <activity
                android:name=".Login3Activity"
                android:label="@string/title_activity_login3" >
            </activity>
            <activity
                android:name=".Login4Activity"
                android:label="@string/title_activity_login4">

            </activity>

            <activity
                android:name=".NavMainActivity"
                android:label="@string/title_activity_nav_main" >
            </activity>
            <activity
                android:name=".FragmentTabs"
                android:label="@string/title_activity_fragment_tabs" >
            </activity>
            <activity
                android:name=".main"
                android:label="YoYo_trip"
                android:theme="@style/AppTheme">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>


            <activity
                android:name=".MyActivity"
                android:label="@string/title_activity_activity_my" >

            </activity>

            <activity
                android:name=".SceneryActivity"
                android:label="@string/title_activity_activity_scenery" >

            </activity>

            <activity
                android:name=".SceneryOneActivity"
                android:label="@string/title_activity_activity_scenery_one" >

            </activity>

            <activity
                android:name=".PayStartActivity"
                android:label="@string/title_activity_activity_paystart" >

            </activity>



            <activity
                android:name=".TaskActivity"
                android:label="@string/title_activity_activity_task" >

            </activity>

            <activity
                android:name=".TaskPayStartActivity"
                android:label="@string/title_activity_activity_taskpaystart" >

            </activity>

            <activity
                android:name=".GiftActivity"
                android:label="@string/title_activity_activity_gift" >

            </activity>

            <activity
                android:name=".TaskDtailActivity"
                android:label="@string/title_activity_activity_taskdtail" >

            </activity>

            <activity
                android:name=".MyOneActivity"
                android:label="@string/title_activity_activity_my_one" >

            </activity>

            <activity
                android:name=".small"
                android:label="@string/title_activity_small" >

            </activity>

            <activity
                android:name=".tasksmall"
                android:label="@string/title_activity_tasksmall" >

            </activity>
            <activity
                android:name=".chatroom"
                android:label="@string/title_activity_chatroom"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
                <intent-filter>
                    <action android:name="com.example.yoyotrip.intent.action.createview"/>
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
            <activity
                android:name=".MapActivity"
                android:label="@string/title_activity_activity_map">

            </activity>
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDZJbX6WeBJlyVgY6zO6L-wyo49MsmE2kw" />

            <!-- GCM service -->
            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <!-- 接收 GCM 的 receiver -->
            <receiver android:name=".GCM.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="com.example.yoyotrip.pushnotification" />
                </intent-filter>
            </receiver>

        </application>
</manifest>
